@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
        
body {
  font-family: Roboto Condensed;
}

#directoryInput{
  margin-top: 32px;  
}

#projectList{
  margin-top: -20px;  
}
        
#restarts, #nresampling, #seed, #project_name, #binarization, #binarization_perc {
  border-radius: 5px;
}

.custom-button {
  color: white;
  background-color: #628291;
  border-color: #628291;
  border-radius: 3px;
}
          
.custom-button:hover, .custom-button:active {
  color: white;
  background-color: #242D33;
  border-color: #242D33;
}

.custom-button2 {
  color: white;
  background-color: #242D33;
  border-color: #242D33;
  border-radius: 3px;
}
          
.custom-button2:hover, .custom-button2:active {
  color: white;
  background-color: #628291;
  border-color: #628291;
}

.custom-button-confEstimation {
  pointer-events: none;
  color: white;
  background-color: #C8DBF1;
  border-color: #C8DBF1;
  border-radius: 3px;
}
          
table.dataTable tbody tr:hover {
  background-color: #7BA1B3 !important;
}
          
table.dataTable tbody tr.selected td, 
table.dataTable tbody td.selected {
  box-shadow: inset 0 0 0 9999px #7BA1B3 !important;
}
          
table.dataTable tbody tr:active td {
  background-color: #7BA1B3 !important;
}
          
:root {
  --dt-row-selected: transparent !important;
}
          
.skin-blue .main-header .logo {
  background-color: #628291;
}

.skin-blue .main-header .logo:hover {
  background-color: #628291;
}
                              
.skin-blue .main-header .navbar {
  background-color: #79A0B3;
}
        
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
  background-color: #ECF0F5;
  color: #222D32;
}

.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
  background-color: #79A0B3;
  color: #ECF0F5;
}

.custom-fluid-homePage {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
}

.custom-fluid-homeRow {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.custom-fluid-inputPage {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

/* Nuove regole per vis-network */
div.vis-network div.vis-navigation div.vis-button.vis-up, 
div.vis-network div.vis-navigation div.vis-button.vis-down, 
div.vis-network div.vis-navigation div.vis-button.vis-left, 
div.vis-network div.vis-navigation div.vis-button.vis-right, 
div.vis-network div.vis-navigation div.vis-button.vis-zoomIn, 
div.vis-network div.vis-navigation div.vis-button.vis-zoomOut, 
div.vis-network div.vis-navigation div.vis-button.vis-zoomExtends {
  background-image: none !important;
}

div.vis-network div.vis-navigation div.vis-button:hover {
  box-shadow: none !important;
}

div.vis-network {
  padding-bottom: 80px;
}
Monito

.vis-button:after {
  color: #222D32;
}

.vis-button:hover:after {
  color: #79A0B3;
}
.helpIcon {
  color: #79A0B3;
}

.vis-button.vis-up:after {
  content: "▲";
}

.vis-button.vis-down:after {
  content: "▼";
}

.vis-button.vis-left:after {
  content: "◀";
}

.vis-button.vis-right:after {
  content: "▶";
}

.vis-button.vis-zoomIn:after {
  content: "+";
  font-weight: bold;
}

.vis-button.vis-zoomOut:after {
  content: "−";
  font-weight: bold;
}

.vis-button.vis-zoomExtends:after {
  content: "⤧";
}

.no-border-bg {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  margin-top: 50px;
}

.custom-width {
  width: 100%;        
  max-width: 300px; 
  margin-top: 50px;
}

.custom-width1 {
  margin-top: 72px;
  color: white;
  background-color: #628291;
  border-color: #628291;
  border-radius: 3px;
}
          
.custom-width1:hover, .custom-width1:active {
  color: white;
  background-color: #242D33;
  border-color: #242D33;
}


.irs-bar, .irs-bar-edge, .irs-from, .irs-to, .irs-single {
  background: #79A0B3 !important; 
}

.irs-line {
  background: #222D32; 
}

.irs-handle {
  border-color: #628291 !important; 
}

.irs-single {
    background: #79A0B3 !important; 
}

.js-irs-0 .irs-handle,
.js-irs-1 .irs-handle {
  width: 2px; 
  height: 40%; 
  top: 30%;
}

#graph_inference {
    margin: 0;
    padding: 0;
    margin-left: 0px !important;
    padding-left: 0px !important;
  }

#project_info {
  display: block;
}

.dropdown-menu > li > a {
  padding: 10px;
}

#plotContainer {
  cursor: default;
}
#plotContainer.empty {
  cursor: auto;
}

$(document).ready(function(){
  $('[data-toggle=\"tooltip\"]').tooltip(); 
});

$(document).on('click', '#geneInfoLink', function() {
  window.open($(this).attr('href'), '_blank');
  return false;
});

tags$head(
  tags$style(HTML("
    .main-sidebar .sidebar-menu .treeview-menu>li>a {
      padding-right: 2.25rem;
    }
    .fa-s {
      padding-right: 10px;
    }
  "))
)